services:
  certbot-dns:
    image: certbot/dns-cloudflare:latest
    container_name: certbot-dns
    environment:
      - HOST_NAME
    volumes:
      - ./cloudflare.ini:/cloudflare.ini:ro
      - ./conf:/etc/letsencrypt
      - ./logs:/var/log/letsencrypt
    dns:
      - 1.1.1.1
      - 9.9.9.9
    command: certonly -d $HOST_NAME
      --dns-cloudflare
      --dns-cloudflare-credentials /cloudflare.ini
      --dns-cloudflare-propagation-seconds 30
      --email admin@$HOST_NAME
      --agree-tos
      --non-interactive
